@model IEnumerable<RocketEshop.Core.Models.Genre>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Genres List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Genres" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Add New Genre
            </a>
        </div>
    </div>
</div>
<br />
<table class="table tale-bordered table-striped" style="width:100%">
    <thead>
        <tr class="table-primary">
            <th>
                Genre
            </th>
            <th>
                Description
            </th>
            <th style="width: 3rem"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Description
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">

                        <a asp-controller="Genres" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil"></i>Edit</a>
                        <a asp-controller="Genres" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
