@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @Localizer["contact.us"];
}
<center>
<section class="mb-4" style="color: white;">
    <h2>@Localizer["contact.us"]</h2>
    <img src="~/rocket logo.png" width="10%" class="img-center" />
    <p class="text-center w-responsive mx-auto mb-5">
        @Localizer["contact.text"]
    </p>
    <hr>
    <div class="text-center">
        <i class="bi bi-geo-alt-fill mt-4" style="font-size: 70px;"></i>
        <p>@Localizer["address"]</p>

        <i class="bi bi-telephone-fill mt-4" style="font-size: 70px;"></i>
        <p>+ 01 234 567 89</p>

        <i class="bi bi-envelope-at-fill mt-4" style="font-size: 70px;"></i>
        <p>admin@RocketEshop.com</p>
    </div>
</section>
</center>