@using RocketEshop.Core.Enums;
@model RocketEshop.Dtos.Game.GameCreateRequestDto;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<form asp-action="Create" class="px-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Game.Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" name="Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input class="form-control" type="date" asp-for="Game.ReleaseDate" name="ReleaseDate" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" name="Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.Quantity" class="control-label"></label>
                <input asp-for="Game.Quantity" name="Quantity" class="form-control" />
                <span asp-validation-for="Game.Quantity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.Genres" class="control-label"></label>
                <select asp-for="Game.Genres" name="Genres" class="selectpicker form-control" multiple="multiple" asp-items="Model.genreOptions"></select>
                <span asp-validation-for="Game.Genres" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.ImageUrl" class="control-label"></label>
                <input asp-for="Game.ImageUrl" name="ImageUrl" class="form-control" />
                <span asp-validation-for="Game.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-2">
                <img id="ProfilePicturePreview" class="border-info" style="max-width: 150px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Game.Rating" class="control-label"></label>
                <select asp-for="Game.Rating" name="Rating" class="form-control">
                    @foreach (Rating rating in Enum.GetValues(typeof(Rating)))
                    {
                        {
                            <option value="@rating">@rating.ToString()</option>
                        }
                    }
                </select>
                <span asp-validation-for="Game.Rating" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" name="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary mt-2" />
    </div>
</form>
<div class="col-md-4 offset-4 text-center">
    <img width="100%" id="ImageUrlPreview" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ImageUrl").val();
        })

        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}
