@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = Localizer["empty.msg"];
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-unsuccess text-center">
        <h2>@Localizer["empty.msg"]</h2>
        <p>@Localizer["check.out"]</p>
        <hr />
        <p>@Localizer["thank.you"]</p>
    </div>
</div>