@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = Localizer["order.success"];
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>@Localizer["order.success"]</h2>
        <p>@Localizer["order.msg"]</p>
        <hr />
        <p>@Localizer["thank.you"]</p>
    </div>
</div>