@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RocketEshop</h1>
</div>
<br /><br />
<p>How to navigate:</p>
<ul>
    <li>Click "Home" to see this page.</li>
    <li>Click "Games" to see the database. In the "Games" page you can also create new games, delete and edit existing ones.</li>
</ul>
<br /><br />
<h6>Note: This is a dummy homepage. Don't take it seriously.</h6>
