@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @Localizer["access.denied"];
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>@Localizer["not.allowed"]</h2>
        <p>@Localizer["directions"]</p>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>