@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = Localizer["successful.creation"];
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>@Localizer["success.msg"]</h2>
        <p>@Localizer["login.now"]</p>
        <hr />
        <p>@Localizer["thank.you"]</p>
    </div>
</div>