html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-gradient {
    background: #1B1C22;
    background: radial-gradient(circle at 50%,rgba(82,69,255, 0.2) , rgba(27,28,34, 0.9));
}

.my-bg-1 {
    background: #111216;
    background: radial-gradient(circle at 40%,rgba(82,69,255, 0.5) , rgba(27,28,34, 0.1));
}
.my-bg {
    background: rgba(27,28,34, 1);
    height: 40px;
    background: radial-gradient(circle at 40%,rgba(27,28,34, 1), rgba(82,69,255, 0.1) );
}

.label-banner {
    background: rgba(27,28,34, 0.3);
}

@media only screen and (max-width: 1000px) {
    .my-bg{
        background: none;
    }
}