html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-gradient {
    background: #1B1C22;
    background: radial-gradient(circle at 50%,rgba(82,69,255, 0.2) , rgba(27,28,34, 0.9));
}

.my-bg-1 {
    background: #111216;
    background: radial-gradient(circle at 40%,rgba(82,69,255, 0.5) , rgba(27,28,34, 0.1));
}
.my-bg {
    background: rgba(27,28,34, 1);
    background: radial-gradient(circle at 40%,rgba(82,69,255, 0.1),rgba(27,28,34, 1)  );
}

.my-bg-card {
    background: #303031 !important;
}

.label-banner {
    background: rgba(27,28,34, 0.3);
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.log-bg{
    background: rgba(82,69,255, 0.2);
    color: white;
    border-radius: 4px 4px;
}