 <div class="about-section">
  <h1>About Us</h1>
  <p>This is our final Project for Mind the Code.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
        <div class="card" style="width: 400px; text-align: center;">
            <center> <img src="https://64.media.tumblr.com/e0308bd83e684efe25f6b702dabc8862/a573b16385afb9b8-b7/s640x960/ba38a4cbe705ae55023b23c123e6132ccad9d921.png" alt="A dog wearing a scarf" style="width:50%"></center>
      <div class="container" >
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>

        <div class="card" style="width: 400px; text-align: center;">
            <center>
                <img src="https://64.media.tumblr.com/5cfebbb6cc3cfd1351da3756ac30587f/tumblr_pg5bbzjsGQ1u2eo2uo8_400.png" alt="Mike" style="width:50%"></center>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>

    <div class="card" style="width: 400px; text-align: center;">
        <center>
            <img src="https://i.pinimg.com/236x/fa/32/a6/fa32a68574c3e9a8b97da857930a8f22.jpg" alt="John" style="width:50%">
        </center>
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
        <div class="card" style="width: 400px; text-align: center;">
            <center>
                <img src="https://i.pinimg.com/564x/24/d1/0a/24d10a00df895b1c7bf3eb5499827f88.jpg" alt="John" style="width:50%">
            </center>
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
        <div class="card" style="width: 400px; text-align: center;">
            <center>
                <img src="https://64.media.tumblr.com/552c55f641a73502774f1cacfd14c466/76285e96a00d7583-43/s540x810/04ff00319d9fdf88ab33d6010450c913a934ac2a.png" alt="John" style="width:50%">
            </center>
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
       
    </div>
</div> 